# Pasta com fotos e arquivos pessoais (exceto a foto do perfil)
.github/*
!.github/mockerz.png
*.png
*.jpg
*.jpeg
*.gif

# Arquivos do sistema
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Dependências
node_modules/
package-lock.json

# Arquivos temporários
*.tmp
*.temp

# Configurações locais
.env
.env.local
